@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --color-blue-1:rgb(9,29,54);
    --color-blue-2:rgb(58,78,122);;
    --color-blue-3:rgb(94,131,186);;
    --color-blue-4:rgb(194,210,233);;
    --color-blue-5:rgb(241,241,240);;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--color-blue-5);
 
    max-width: 100%;
}

#link-producto{
    transition: all 1s ease;
    position: relative;
}
#link-nosotros{
    transition: all 1s ease;
    position: relative;
}
#link-contactar{
    transition: all 1s ease;
    position: relative;
}

#link-producto::after {
    content: ""; /* Crea el subrayado */
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px; /* Ajusta el grosor del subrayado */
    background-color: #ffffff; /* Color del subrayado */
    transform: scaleX(0); /* Inicialmente invisible */
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  #link-producto:hover::after {
    transform: scaleX(1); /* Aparece el subrayado en hover */
  }

  #link-nosotros::after {
    content: ""; /* Crea el subrayado */
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px; /* Ajusta el grosor del subrayado */
    background-color: #ffffff; /* Color del subrayado */
    transform: scaleX(0); /* Inicialmente invisible */
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  #link-nosotros:hover::after {
    transform: scaleX(1); /* Aparece el subrayado en hover */
  }

  #link-contactar::after {
    content: ""; /* Crea el subrayado */
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px; /* Ajusta el grosor del subrayado */
    background-color: #ffffff; /* Color del subrayado */
    transform: scaleX(0); /* Inicialmente invisible */
    transition: transform 0.5s ease; /* Transición suave */
  }
  
  #link-contactar:hover::after {
    transform: scaleX(1); /* Aparece el subrayado en hover */
  }


.icon-whatsapp-float{
    bottom:30px;
    right:10px;
    z-index: 500;
    cursor: pointer;
}

.img-whatsapp-float {
    transition: all 0.3s ease;
}

.img-whatsapp-float:hover{
    height: 80px;
    width: 80px;
    bottom:30px;
}


.title-main{
    font-weight: 700;
    color: var(--color-blue-5);
}

.title-secundary{
    font-weight: 400;
    color: var(--color-blue-4);  
}

.title-description{
    font-size: 20px;
    color: var(--color-blue-5);   
}

.image-title{
    background-image:linear-gradient(to bottom, rgba(27, 27, 27, 0.52), rgba(0, 0, 0, 0.73)),url('images/fondo.webp');
   height: 600px;
   width: 100%;
   background-size: cover;
    background-position: center;
}

.imagen-superpuesta{
right: 20%;
top: 35%;
width: 60%;
}

.imagen-fondo{
    opacity: 0.95;
    width: 100%;
}

.logo-title{
    margin-top: 200px;
    position: relative;
}

.float-logo-title{
    position: absolute;
    width: 300px;
    padding: 10px;
}

.float-logo-title img{
   height: 70px;
   width: 70px;
   margin-left: auto;
   margin-right: auto;
}

#float-logo-title-1{
    top: -150px;
    left: 60px;
}


#float-logo-title-2{
    top: 100px;
   left: 0;
}


#float-logo-title-3{
    top: -150px;
   right: 60px;
}

.float-title{
    font-size: 20px;
    color: var(--color-blue-2);
}

.float-title-details{
    font-family: "Roboto", sans-serif;
}

#float-logo-title-4{
    top: 100px;
   right: 0;
}


.logo-who-us{
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

.callout-info{
    font-size: 24px;
}

.nombre-servicio{
    top: 0;
    left: 25%;
}

.nombre-servicio p{
    top: 0;
   left: 15%; 
   color: black;
   font-size: 70px; 
   font-weight: 900;
   text-shadow: 4px 4px 2px rgba(114, 231, 212, 0.5);
}

.images-carousel{
    width: 100%;
    
}

.navbar{
    z-index: 300;
    position: fixed;
    width: 100%;
    background: var(--color-blue-1);
    box-sizing: border-box;
}

.servicios{
    background-image:linear-gradient(to bottom, rgba(6, 6, 10, 0.52), rgba(0, 0, 0, 0.73)),url('images/segundo_fondo.webp');
    background-size: cover;
    background-position: center;
    height: 250px;
}

.servicios p{
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: var(--color-blue-5);
}

.contenedor-cards{
    display: grid;
    justify-items: center; /* Centra los elementos en cada celda */
    align-items: start; /* Alinea los elementos al inicio de la celda */
    gap: 10px;
}

.services-details{
    padding: 20px;
    background: var(--color-blue-3);
    border-radius: 20px;
    height: 300px;
    width: 250px;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
}

.services-details:hover {
    transform: scale(1.05); /* Ajusta el valor para más o menos zoom */
  }

.image-service-details{
    position: relative;
    background: #eaeef1;  
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.more-details-services{
    display: none; /*display: inline-block; ;Necesario para que el subrayado esté solo en el contenido del párrafo */
    position: relative;
    cursor: pointer;
}

.more-details-services::after {
    content: ""; /* Crea el subrayado */
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px; /* Ajusta el grosor del subrayado */
    background-color: #000; /* Color del subrayado */
    transform: scaleX(0); /* Inicialmente invisible */
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  .more-details-services:hover::after {
    transform: scaleX(1); /* Aparece el subrayado en hover */
  }



.services-details h4{
    color: var(--color-blue-5);
}

.icono-service-details{
    position: absolute;
    top: 15px;
    right:15px;
    
    height: 50px;
    width: 50px;
}

.nuestro-producto{
    margin-top: 50px;
    padding-top: 50px;
}

.section-services{
    margin-top: 150px;
    /*overflow-x: hidden;*/
}

.description-services{
    height: 300px;
    background: #d5d8dc;
  
}

.services{
    position: relative;
}


.image-services{
    top: -110px;
    right: 100px;
    position: absolute;

 
    background: #284469;

}

.image-services-2{
    top: -110px;
    left: 100px;
    position: absolute;
 
    background: #284469;
}

.img-service{
    max-width: 400px;
    width: 100%;
}

.square-img{
    width: 400px;
    height: 400px;
}
 

.about-us{
    margin-top: 100px;
}

.square-mision-vision{
    position: relative;
    height: 500px;
    width: 600px;
    background: #d5d8dc;
}

.square-image{
position: absolute;
top: -50px;
left: -50px;
height: 400px;
width: 400px;
background: #284469
}

.square-description{
    bottom: -50px;
    right: -50px;
    position: absolute;
    height: 400px;
    width: 400px;
    background: #050720
}

.content-square-image{
    height: 400px;
    width: 400px;
    position: relative;
    overflow: hidden;
}

.content-square-description{
height: 400px;
width: 400px;
position: relative;
overflow: hidden;

}

.content-square-description button{
    position: absolute;
    bottom: 0;
    right: 0;
}

#square-image-1{
    background: #079b62;
height: 400px;
width: 400px;
position: absolute;
top: 0;
left: 0;
    transition: transform 1s ease;
}

#square-image-2{
    background: #5cce27;
    height: 400px;
width: 400px;
    position: absolute;
    top: 0;
    left: 400px;
    transition: transform 1s ease;
}

#square-description-1{
    padding: 40px;
    height: 350px;
    width: 400px;
    position: absolute;
    background: #201f2c;
    top: 0;
    left: 0;
    transition: transform 1s ease;
}

#square-description-2{
    padding: 40px;
    height: 350px;
    width: 400px;
    position: absolute;
    background: #1d1d24;
    top: 0;
    left: 400px;
    transition: transform 1s ease;
}

.botones-mision-vision{
    bottom: 0; 
    height: 50px; 
    width: 400px;
}


.mover {
    transform: translateX(400px); /* Mueve el div a la derecha */  
}
.volver {
    transform: translateX(-400px); /* Mueve el div a la izquierda */
}

.flechas{
    cursor: pointer;
    position: absolute;
}
.flechas:hover{
    height: 30px;
    width: 30px;
}

.flecha-izquierda{
    top: calc(25px/2);
    right: 60px;
    transition: .5s ease;
}

.flecha-derecha{
    top: calc(25px/2);
    right: 10px;
    transition: .5s ease;
}

.flecha-izquierda:hover{
    top: 10px;
    right: 60px;
}

.flecha-derecha:hover{
    top: 10px;
    right: 10px;
}

.contact-us {
    margin-top: 50px;
    padding-top: 50px;
    
}

.fondo-image-form{
    justify-items: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.image-contact-fondo {
    background-image:linear-gradient(to bottom, rgba(13, 14, 20, 0.52), rgba(0, 0, 0, 0.73)),url('images/tercer_fondo.webp');
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    top:-100px;
}

.contact-us-title{
    
    height: 125px;
    width: 100%;
    background: #284469;
}

.description-contact-us{
    font-weight: bold;
    color: aliceblue;
}

.zone-form{
    color: white;
    height: auto;
    min-width: 300px;
    background: var(--color-blue-1);
    padding: 25px;
}

footer{
    display: grid;
    gap: 50px;
    padding: 30px;
    height: 200px;
    width: 100%;
    background: #0b0d18;
    text-align: center;
}

.footer-details{
    font-size: 16px;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}